.backgroundHome{
  /* background-color: rgb(47, 43, 43); */
  background-color: #1b1b1f;
  width: 100vw;
  height: 100vh; /* Subtract the 10px top/bottom margins */
  position: fixed;
}

.MuiDrawer-paperAnchorLeft{
  background-color: #1b1b1f !important;
}

.containerHome {
  color: white;
}

.headerHome {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
}

/* .headerHome .iconC {
  width: 60px;
  cursor: pointer;
} */

.headerHome .iconC {
  margin: 40px;
  width: 40px;
  cursor: pointer;
}

.headerMenu{
  margin-left: auto;
}

